@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');
body {
  background-image: linear-gradient( to right bottom,#00F260, #0575E6);
  background-attachment: fixed;
  color: #354538;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient( to right bottom,#00F260, #0575E6);
}
a {
  text-decoration: none;
  color: #354548;
}
a:hover {
  text-decoration: none;
  color: #000000;
}
.app-container {
  padding-top: 50px;
}
.app-row {
  height: 86vh;
}
.main-content {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;

}

/*** sidebar css ****/

.sidebar {
  background-color: #ffffff;
  height:  100%;
  border-radius: 20px;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  text-align: center;
}

.sidebar-image {
  height: 150px;
  width: 120px;
  object-fit: contain;
  border-radius: 30px;
}
.sidebar-icon {
  height: 25px;
  width: 25px;
}
.sidebar-name {
  font-family: Merriweather;
  margin: 20px 0;
  font-size: 1.7rem;
}
.sidebar-name span {
  color: #00f260;
}
.sidebar-item {
  margin-bottom: 6px;
  padding-top :6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
}
.sidebar-title {
  background-color: #f1f1f1;
  border-radius: 30px;
}
.sidebar-contact {
  background-color: #dbdddf;
  padding: 2px 0;
  
}
.sidebar-email {
  background-image: linear-gradient( to right bottom,#00F260, #0575E6);
  border-radius: 30px;
  color: #ffffff;
  margin: 15px 25px 0px;
  cursor: pointer;
  transform: all ease-in-out 3s linear;
}
.sidebar-email:hover {
  transform: scale(1.2)
}
.sidebar-resume:hover,
.sidebar-github:hover {
  background-color: #f1f1f2;
  color: #000000;
}

@media(max-width: 991px) {
  .main-content {
    margin: 30px 0;
  }
}

/* navbar */

.navbar-items {
  display:flex;
}
.navbar-active {
  font-size: 2rem;
  font-weight: 700;
  color: #554558;
  border-bottom: 4px solid #00f260;
}
.navbar-item {
  margin-right: 20px;
  text-decoration: none;
  color: #354358;
  font-size: 1.3rem;
  cursor: pointer;
}
.navbar-item:hover {
  background: -webkit-linear-gradient(#00F260, #0575E6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* about */

.about {
  padding: 20px;
  margin: -35px;
}
.about-intro {
  font-size: 1.1rem;
  padding: 20px;
  margin: 10px 0;
}
.about-container {
  background-color: #dbdddf;
  padding: 30px 20px;
}
.about-heading {
  font-size: 25px;
  font-weight: 700;
  color: #354358;
  margin-left: 10px;
}

/* skillcard */
.skill-card {
  background-color: #ffffff;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.skill-card-icon {
  width: 40px;
  height: 40px;
}
.skill-card-body {
  margin-left: 15px;
}
.skill-card-content {
  margin: 0;
  font-size: 0.9rem;
  color: #6e7e91;
}

/* resume */
.resume {
  padding-top:20px;
}
.resume-card-heading,
.resume-language-heading {
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #354548;
}
.resume-card-body {
  margin-top: 10px;
}
.resume-card-title {
  font-weight: 700;
}
.resume-card-details {
  font-size: 0.9rem;
  padding-top:20px;
}
/* bar */
.bar {
  width: 90%;
  background-color: #f1f1f3;
  border-radius: 20px; 
  margin-bottom: 20px;
}

.bar-icon {
  width: 15px;
  height: 15px;
}
.bar-wrapper {
  background-image: linear-gradient(90deg, #00f260, #0575e6);
  border-radius: 20px;
  padding: 4px 14px;
  color: #ffffff;
  font-size: 0.9rem;

}

/* projects */

.projects {
  height: 70vh;
  padding-top: 30px;
  overflow-y: auto;

}
.projectCard-wrapper {
  margin: 10px 0;
  width: 100%;
  height: 100%;
  min-height: 100px;

}
.projectCard-image {
  width: 100%;
  height: 80%;
  border-radius: 30px;
  border: 1px solid #00f260;
  transition: transform 0.3s linear;
}
.projectCard-image:hover {
  transform: scale(1.05)
}
.projectCard-icon  {
  width: 25px;
  height: 25px;
  
}
.projectCard-title {
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects-navbar {
  display: flex;
}
.projects-navbar>div {
  margin: 0 5px;
  font-size: 1rem;
  cursor:pointer;
}
